{% extends 'web/base.html' %}

{% load material_form %}
{% load staticfiles %}

{% block content %}

    <div id="video-3" class="d-flex flex-column h-100 w-100 justify-content-center">

        <div class="row justify-content-center align-items-center" id="new-id-text" style="margin-right: 0; margin-left: 0;">
            <div class="col-10 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-secondary video-btn" style="background-color: #79b729; color: #FFF;">
                    <b>ПОЛУЧИТЬ НОВЫЙ ID СПОНСОРА</b>
                </button>
            </div>
        </div>

        <div class="row justify-content-center align-items-center" id="timer" style="display: none">
            <div class="timer col-6 d-flex justify-content-center" style="font-size: 2rem" data-seconds-left=60>
                У вас осталось: &nbsp;
            </div>
{#            <div class='timer col-6 d-flex justify-content-start' style="font-size: 2rem" data-seconds-left=60></div>#}
        </div>

        <div class="row justify-content-center align-items-center text-content" id="text-5" style="margin-bottom: 0; display: none">
            <div class="col-9 d-flex justify-content-center">

                <p class="iSetVil-btn col-6 d-flex justify-content-center">
                    <b class="iSetVil-btn-bold btn btn-outline-secondary" id="id-regm">
                        ID спонсора для регистрции: 909555
                    </b>
                    <button type="button" class="my_btn js-tooltip js-copy btn btn-outline-secondary" id="id-regm-rec" style="margin-left: 0rem" data-toggle="tooltip" data-placement="bottom" data-copy="909555" title="Скопировать">
                    <!-- icon from google's material design library -->
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                    </button>
                </p>

            </div>
        </div>

        <div class="row justify-content-center align-items-center" id="text-4" style="display: none">
            <div class="col-10 d-flex justify-content-center">
                <a href="https://office.vilavi.com/Account/Register?returnurl=%2F/" target="_blank">
                    <button type="button" class="btn btn-outline-secondary video-btn" style="background-color: #79b729; color: #FFF;">
                        <b>Регистрация</b>
                    </button>
                </a>
            </div>
        </div>

        <div class="row justify-content-center align-items-center" id="create-room-text" style="display: none">
            <div class="col-10 d-flex justify-content-center">
                <a href="{% url 'user_registration' %}">
                    <button type="button" class="btn btn-outline-secondary video-btn" style="background-color: #79b729; color: #FFF;">
                        <b>Создать Кабинет</b>
                    </button>
                </a>
            </div>
        </div>





    </div>

    <script type="text/javascript">

        function copyToClipboard(text, el) {
            var copyTest = document.queryCommandSupported('copy');
            var elOriginalText = el.attr('data-original-title');

            if (copyTest === true) {
                var copyTextArea = document.createElement("textarea");
                copyTextArea.value = text;
                document.body.appendChild(copyTextArea);
                copyTextArea.select();
                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'Скопировано!' : 'Не скопировалось';
                    el.attr('data-original-title', msg).tooltip('fadeIn');
                } catch (err) {
                    console.log('Невозможно скопировать');
                }
                document.body.removeChild(copyTextArea);
                el.attr('data-original-title', elOriginalText);
                } else {
                    // Fallback if browser doesn't support .execCommand('copy')
                    window.prompt("Скопируйте командами: Ctrl+C or Command+C, Enter", text);
                }
        }

        function changeTextIfPhone() {
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).width() < 712) {
                // some code..
                $('#id-regm').text('ID для регистрции: 909555');
            }
        }

        $(document).ready(function(){
            // Initialize
            // ---------------------------------------------------------------------

            // Tooltips
            // Requires Bootstrap 3 for functionality
            $('.js-tooltip').tooltip();

            // Copy to clipboard
            // Grab any text in the attribute 'data-copy' and pass it to the
            // copy function
                $('.js-copy').click(function() {
                    var text = $(this).attr('data-copy');
                    var el = $(this);
                    copyToClipboard(text, el);
                });
                var choice = Cookies.get('video');
            console.log(typeof choice === 'undefined');
            console.log('MY' + Cookies.get('video'));

            if (typeof choice === 'undefined') {
                choice = 0;
            }

            console.log(choice);
            console.log(choice == 0);


            $('#new-id-text').fadeIn();


            $('#choice-text').click(function () {
                 if (Cookies.get('video') > 4) {
                    $('html, body').animate({
                        scrollTop:$('#video-3').offset().top
                    }, 2000);

                 } else {
                     $('#choice-text').fadeOut();
                     $('#text-4').fadeIn();
                     $('#text-5').fadeIn();
                     $('#timer').fadeIn();
                     $('.timer').startTimer({
                        onComplete: function(element){
                            element.addClass('is-complete');
                        }
                        });
                     setTimeout(function () {
                        $('#create-room-text').fadeOut();
                        $('#timer').fadeOut();
                        $('#text-5').fadeOut();
                        $('#text-4').fadeOut();
                        $('#new-id-text').fadeIn();
                        //removing timer inners
                        $('.jst-hours').remove();
                        $('.jst-minutes').remove();
                        $('.jst-seconds').remove();
                        $('.jst-clearDiv').remove();

                    }, 10000);
                     $('html, body').animate({
                        scrollTop:$('#video-3').offset().top
                    }, 1000);
                 }
            });


            $('#new-id-text').click(function () {
                {# generate new Id function #}
                $('#new-id-text').fadeOut();
                $('#choice-text').fadeOut();
                     $('#text-4').fadeIn();
                     $('#text-5').fadeIn();
                     $('#timer').fadeIn();
                     $('#create-room-text').fadeIn();
                     $('.timer').startTimer({
                        onComplete: function(element){
                            element.addClass('is-complete');
                        }
                        });
                     setTimeout(function () {
                        $('#create-room-text').fadeOut();
                        $('#timer').fadeOut();
                        $('#text-5').fadeOut();
                        $('#text-4').fadeOut();
                        $('#new-id-text').fadeIn();
                        //removing timer inners
                        $('.jst-hours').remove();
                        $('.jst-minutes').remove();
                        $('.jst-seconds').remove();
                        $('.jst-clearDiv').remove();

                    }, 60000);
                     $('html, body').animate({
                        scrollTop:$('#video-3').offset().top
                    }, 1000);

            });




            changeTextIfPhone();
        });

    </script>

{% endblock %}
